*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0;
    background: #000000e1;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    outline-style: outset;
    outline-width: 0.2rem;
    outline-color: #EE712A;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

header:hover{
    outline-color: #FFB900;
}

li{
    align-items: center;
    -webkit-text-stroke: 0.5px #EE712A;
}

li:hover{
    color: #FFB900;
}

a:hover{
    color: #FFB900;
}

.active{
    -webkit-text-stroke: 0px;
    
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style:none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.25rem;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}


nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white
}

.menu{
    align-items: center;
    margin-left: 5%;
    margin-right: 43%;
    display: flex;
    text-align: justify;
    
}

.active{
    -webkit-text-stroke: 0px;
}

img{
    border-radius: 3rem;
    width: 20rem;
    height: 20rem;
}

.section{
    background: black;
    height: 60rem; /* placeholder */
}

.section--first{
    background: white;
}

.categorieen{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 10%;
}

.categorie{
    width: 20rem;
    height: 20rem;
    background: white;
    list-style: none;
    border-radius: 3rem;
    box-shadow: 0 2rem 2rem 0 rgba(0,0,0,0.5);
    list-style: none;
    border: 5px solid #ee722ad4;
}

.categorie:hover{
    border: 5px solid #FFB900;
}

footer{
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
}

footer img{
    max-width: 11rem;
    max-height: 2.5rem;
    border-radius: 0;
    display: block;
    margin-left: auto;
    padding-right: 2.5rem;
}